<div class="time-changer">
  <span>change time:</span>
  <input type="text" #newWorkTime>
  <input type="button" value="ChangeTime" (click)="onChangeTimeClick(newWorkTime.value)">
</div>
<div>
  <span>show last 5 changes</span>
  <input type="button" value="showChanges" (click)="onShowChangesClick()">
  <ul>
    <li *ngFor="let workTimeChange of workTimeChanges; let i = index;">
      {{ i + 1 }}: {{ workTimeChange }}
    </li>
  </ul>
</div>
<hr>
<app-boss></app-boss>
<app-employee></app-employee>
